/* Reset & Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Page Layout */
.page-container {
	
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-left: 300px;
  padding: 30px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid #2c3e50;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #1abc9c;
}

/* Main Content */
.main-content {
    margin-top: 70px;
    margin-left: 260px;
    padding: 20px;
}

.greeting {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
}

/* Dashboard Boxes */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.stat-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.stat-title {
    font-size: 16px;
    color: #555;
}

.stat-count-box {
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    color: #2c3e50;
    text-align: center;
}

.stat-icon i {
    font-size: 28px;
    color: #ff8080; /* light orange color for icon in the body*/
}

/* Recent Orders Table */
.recent-orders-section h3 {
  font-size: 24px;
  color: #222;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}
.order-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 12px 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.order-header div {
  flex: 1;
  text-align: center;
}

/* Each Order Row */
.order-row {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 15px;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.order-row:hover {
  background-color: #f1f1f1;
}

.order-row div {
  flex: 1;
  text-align: center;
}

/* Status Dropdown */
.order-row select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

/* View Button */
.order-row button {
  padding: 6px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.order-row button:hover {
  background-color: #218838;
}


.view-link {
    color: #2980b9;
    font-weight: bold;
}


