@charset "UTF-8";
 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', sans-serif;
        }

  body {
      display: flex;
      height: 100vh;
      background: white;
  }

  .left {
      	flex: 1;
		background:url('../images/food2.jpg');
		background-blend-mode: overlay;
		background-size: cover;
		background-position: center;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 60px;
  }

  .left h1 {
      font-size: 40px;
      margin-bottom: 20px;
  }

  .left p {
      font-size: 20px;
      color: white;
  }

  .right {
      flex: 1;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .form-box {
      width: 400px;
      padding: 30px;
  }

  .form-box h2 {
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
  }

  

  

  .form-box input {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  .form-box input[type="submit"] {
      background:#EC5228;
      color: white;
      border: none;
      cursor: pointer;
  }

  .form-box .signup {
  	  
      width: 350px;
      text-align: center;
      margin-top: 10px;
   
  }

  .form-box .signup a {
      color:  #991212;
      margin-left: 3px;
      text-decoration: none;
  }
  .form-box .signin {
      text-align: center;
      margin-top: 10px;
  }

  .form-box .signin a {
      color: #991212 ;
      text-decoration: none;
  }
  
  
.error-alert {
    display: inline-block;
    max-width: max-content;
    border: 1px solid darkred;
    background: #FFF0F0; /* subtle red tint */
    color: darkred;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgb(128, 128, 128) ; 
    line-height: 1.4;

}

.error-alert .close-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: darkred;
    font-size: 16px;
    cursor: pointer;
}

/* Optional: hover effect */
.error-alert .close-btn:hover {
    color: brown ;
}
/* Error Mergb(128, 0, 64)ge Styling */


